body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #444;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.attributes, .skills, .macros {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.attributes label, .skills .skill label, .macro label {
  display: block;
  margin-bottom: 10px;
}

.attributes input[type="number"], .skills select, .macro input[type="text"], .macro select, .macro textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dice-table {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}

.dice-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

.dice-button:hover {
  background-color: #0056b3;
}

.macro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.macro input[type="text"],
.macro select,
.macro textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.macro button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #A41AA4;
  transition: background-color 0.3s;
}

.macro button:hover {
  background-color: #7D077D;
}

#macro-description {
  width: 100%;
  height: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#saved-macros {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#saved-macros .macro {
  flex: 1 1 calc(33.333% - 20px);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#results {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}